body{
	margin: 0px auto;
	width: 100%;
}
fieldset{
	font-size: 18px;
	font-family: sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-web-kit-border-radius: 5px;
}
#cadastro_trabalho{
	padding-top: 100px;
	width: 500px;
	margin: 40px auto auto;
}
#cadastro_trabalho input[type="text"],input[type="submit"]{
	width: 400px;
	padding: 5px;
	border-radius: 5px;
}
#cadastro_trabalho select, input[type="date"],input[type="number"]{
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-web-kit-border-radius: 5px;
}
#cadastro_trabalho  input[type="date"]{
	width: 190px;
	padding: 5px;
	border-radius: 5px;
}

#exibir_trabalho{
	margin:40px auto auto;
}